<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Web-component test</title>
    <script type="module" src="dist/web-components/my-web-component.js"
    ></script>
  </head>
  <body>
    <div class="container mx-auto">
      <data-card></data-card>
    </div>
  </body>
</html>
